$white: hsl(0, 0%, 100%);
$darkdesaturatedblue: hsl(236, 21%, 26%);
$verydarkblue: hsl(235, 16%, 14%);
$verydarkblue1: hsl(234, 17%, 12%);
$grayishblue: hsl(237, 18%, 59%);
$softred: hsl(345, 95%, 68%);