@use "./colors" as *;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  background-color: $verydarkblue;
}

body,
button {
  font-family: "Red Hat Text", sans-serif;
}
